.menu {
  background-color: var(--bone);
  height: 100%;
  border: 1px solid var(--dark-green);
  color: var(--dark-green);
  position: absolute;
  top: 0;
  right: 0;
  width:50%;
}

.menu-header {
  background-color: var(--dark-green);
  padding: 10px;
}

.nav-link {
  font-size: 20px;
  color: var(--dark-green);
  text-decoration: none;
  border-bottom: 1px solid;
}

.green-hover:hover {
  background-color: var(--light-green);
  transition: background .5s;
}