.pfp-container {
  position: relative;
}

.pfp {
  padding: 30px;
  background-color: var(--light-green);
  border-radius: 50%;
}

.account-edit-icon {
  position: absolute;
  background-color: var(--bone);
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  left: 65%;
  top: 65%;
}

.account-edit-icon:hover {
  background-color: var(--dark-green);
  color: var(--bone);
}

.account-div {
  margin: 20px 0;
}

.account-input-div {
  margin: 10px 0;
}

.input-container {
  border: 1px solid var(--light-green);
  border-radius: 5px;
  height: 35px;
}

.about-container {
  height: 100px;
}

.text-to-input {
  height: 100%;
  padding: 6px;
}

.input-to-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 3.5px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  resize: none;
}

label {
  padding: 10px;
  margin-bottom: 2px;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}