.pfp-container {
  position: relative;
}

.pfp {
  padding: 30px;
  background-color: var(--light-green);
  border-radius: 50%;
}

.account-edit-icon {
  position: absolute;
  background-color: var(--bone);
  border: 1px solid var(--dark-green);
  border-radius: 5px;
  left: 65%;
  top: 65%;
}

.account-edit-icon:hover {
  background-color: var(--dark-green);
  color: var(--bone);
}

.account-div {
  margin: 20px 0;
}

.about-container {
  height: 100px;
}