header {
  background-size: cover;
  background-color: var(--dark-green);
  color: var(--bone);
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header-icon {
  width: 24px;
  height: 24px;
  color: var(--bone);
  filter: opacity(0.7) drop-shadow(0 0 0 var(--bone));
}

nav {
  display: none;
  position: absolute;
  left: 25%;
  top: 0;
  height: 100vh;
  width: 75vw;
  z-index: 2;
}

.menu-open {
  display: block;
}

.page-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
